.plan {
    background: #F5F8FF;
    border-top: 1px solid #D8E3FE;
}

.plan__wrapper {
    display: flex;
    align-items: center;

    margin: 13.4rem 0 0 10%;
}

.plan__subtitle {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 0.7rem;
    line-height: .8rem;

    letter-spacing: 0.1em;
    text-transform: uppercase;

    color: #3D4F9F;
}

.plan__title {
    font-size: 2.2rem;
    line-height: 2.8rem;
    font-weight: 500;

    margin-top: 1.5rem;

    color: #3D4F9F;

    span {
        font-weight: 300;
    }
}

.plan__content {
    font-family: 'Roboto';
    font-size: 1rem;
    line-height: 1.7rem;
    letter-spacing: 0.03em;

    margin-top: 1.5rem;

    color: #8D96BD;
}

.plan__button {
    display: flex;
    align-items: center;

    width: 70%;
    margin-top: 2.9rem;
    
    &-view {
        background: #4C85FF;
        box-shadow: 0px 5px 15px rgba(188, 199, 255, 0.75);
        border-radius: 4px;

        height: 2.7rem;
    }
}